<p></p>
<p> Given a string, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases. </p> 
<p> For example,<br> <code>"A man, a plan, a canal: Panama"</code> is a palindrome.<br> <code>"race a car"</code> is <i>not</i> a palindrome. </p> 
<p> <b>Note:</b><br> Have you consider that the string might be empty? This is a good question to ask during an interview.</p> 
<p> For the purpose of this problem, we define empty string as valid palindrome. </p>
<p></p> 
<div> 
 <p><a href="/subscribe/">Subscribe</a> to see which companies asked this question</p> 
</div> 
<div> 
 <div id="tags" class="btn btn-xs btn-warning">
  Show Tags
 </div> 
 <span class="hidebutton"> <a class="btn btn-xs btn-primary" href="/tag/two-pointers/">Two Pointers</a> <a class="btn btn-xs btn-primary" href="/tag/string/">String</a> </span> 
</div> 
<div> 
 <div id="similar" class="btn btn-xs btn-warning">
  Show Similar Problems
 </div> 
 <span class="hidebutton"> <a class="btn btn-xs btn-primary" href="/problems/palindrome-linked-list/"> (E) Palindrome Linked List</a> </span> 
</div>